body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 50px;
    font-weight: 600;
    color: #3a0ca2;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: left;
}

textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    resize: vertical;
    word-wrap: break-word;
    float: left; 
    clear: left; 
    font-family: 'Plus Jakarta Sans', sans-serif;
}

button {
    width: calc(10% - 20px); /* Calculate width for button */
    padding: 10px;
    margin-bottom: 20px;
    background-color: #3a0ca2;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3a0ca2;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #3a0ca2;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#powered-by {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}

#powered-by a {
    color: #007BFF;
    text-decoration: none;
}

#powered-by a:hover {
    text-decoration: underline;
}

#qr-result img {
    margin-top: 20px;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    background: #fff;
}

#qr-result a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: 600;
}
